page-my-fridge {
  .wrapper{
    background-image: url("../../assets/img/background.jpg");
    height:100%;
    width:100%;
    color:white;
  }
  .custom{
    background-color: transparent;
    color:chartreuse;
  }
}
