page-home {
  .constant-theme{
    background-color:black;
    color:white;
  }

ion-title{
  padding-left:32%;
  padding-right:32%;
  background-color:transparent;
}

  .custom-header{
    background-color: #2d2d2d;
    color:white;
  }

}
